form{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	background: #eee;
	border-radius: 4px;
}
input{
	display: inline-block;
	margin: 20px 0;
	width: 60%;
	height: 40px;
	border: none;
	border-radius: 4px;
	padding: 0 20px;
}